<section data-ng-controller="DsnRoutersController" data-ng-init="find()">
    <div class="gridStyle" ng-grid="gridOptions"></div>
    <!---<ul class="dsnRouters unstyled">
        <li data-ng-repeat="project in dsnRouters">
            <span>{{project.created | date:'medium'}}</span> /
            <span>{{project.user.name}}</span>
            <h2><a data-ng-href="#!/dsnRouters/{{project._id}}">{{project.title}}</a></h2>
            <div>{{project.content}}</div>
        </li>
    </ul>-->
    <button type="button" class="btn btn-default" data-ng-click="batchUpdate()">Batch Update</button>
    <h1 data-ng-hide="!DsnRouters || DsnRouters.length">No DsnRouters yet. <br> Why don't you <a
            href="/#!/DsnRouters/create">Create One</a>?</h1>
</section>