<section data-ng-controller="DsnRoutersController" data-ng-init="findOne()">
    <span>{{dsnRouter.created | date:'medium'}}</span> /
    <span>{{dsnRouter.user.name}}</span>

    <h2>{{dsnRouter.title}}</h2>

    <div data-ng-show="global.user._id == dsnRouter.user._id">
        <a class="btn" href="/#!/DsnRouters/{{dsnRouter._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{dsnRouter.content}}</div>
</section>
